n8n/prod/Prod -  Send Reminders (Notes).json
{
  "updatedAt": "2025-07-29T03:27:44.000Z",
  "createdAt": "2025-07-04T18:36:29.545Z",
  "id": "AE3U3r9fykwrxggj",
  "name": "Prod -  Send Reminders (Notes)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "c5b0ea60-e306-43be-9825-36a6928944f1",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -80,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "d85f5a52-cef4-4d43-a3d3-d3d397bf57e8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -80,
        432
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        336
      ],
      "id": "b8b19eaa-a2f9-452f-8d34-a2c6c2d23928",
      "name": "Loop Over Overdue Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        688
      ],
      "id": "c11ac094-714b-4374-9753-39abfe36bd90",
      "name": "Loop Over Upcoming Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a2b2046-2fad-4911-839a-50155e603d13",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "98543f1c-6043-4840-9662-663910096c27",
              "name": "message",
              "value": "=📒🛑 <b>Notes Reminder</b>\n\n<b>Task:</b> {{ $json.title }}\n<b>Deadline:</b> {{ $json.due_date.toDateTime().format('dd-MM-yyyy') }} \n<b>Status:</b> Overdue\n<b>Tags:</b> {{ $json.source }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        432
      ],
      "id": "d4091830-f14d-4359-9133-4fe4902eac28",
      "name": "Overdue Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97e96027-3f0d-4281-b3cc-1042172cfc83",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "98543f1c-6043-4840-9662-663910096c27",
              "name": "message",
              "value": "=📒 <b>Notes Reminder</b>\n\n<b>Task:</b> {{ $json.title }}\n<b>Deadline:</b> {{ $json.due_date.toDateTime().format('dd-MM-yyyy') }} \n<b>Status:</b> Upcoming\n<b>Tags:</b> {{ $json.source }}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        768
      ],
      "id": "dd6ec5fc-6e9e-47d7-9830-44cd6fe107a6",
      "name": "Upcoming Note"
    },
    {
      "parameters": {},
      "id": "29401d91-31e0-42f8-9fd2-22a7ebcd8ad0",
      "name": "Merge groups",
      "type": "n8n-nodes-base.merge",
      "position": [
        1584,
        528
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1808,
        528
      ],
      "id": "f539382d-8622-4e7f-bf2a-0751f44d92ff",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "reminders",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "reminder_sent",
              "fieldValue": "true"
            },
            {
              "fieldId": "reminder_type",
              "fieldValue": "standard"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2240,
        528
      ],
      "id": "7bdcf8b9-cf70-49df-a390-f750b06e8f05",
      "name": "Update Reminder Info",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "=due_date"
            }
          ]
        },
        "options": {}
      },
      "id": "dc7b06d2-cfc5-4f34-82c7-50a5b5837ed9",
      "name": "Sort by closest deadline",
      "type": "n8n-nodes-base.sort",
      "position": [
        592,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e65c0597-d067-423a-8496-35e91a8ddf1b",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              },
              "leftValue": "={{ $json.due_date }}",
              "rightValue": "={{ $now }}"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "89aff636-a99c-4a5a-89d7-6d7d7d8f48c2",
      "name": "If deadline is overdue",
      "type": "n8n-nodes-base.if",
      "position": [
        800,
        544
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "976aac71-63c6-48a4-a965-8112ae3480bf",
              "name": "logo_path",
              "type": "string",
              "value": ""
            },
            {
              "id": "d9ec1fff-56ff-4c3e-befd-99520b78200e",
              "name": "pushover_group_key",
              "type": "string",
              "value": "="
            }
          ]
        },
        "options": {}
      },
      "id": "531fd00e-ca46-4db3-abab-3cd47334be9a",
      "name": "Set Workflow vars",
      "type": "n8n-nodes-base.set",
      "position": [
        144,
        544
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "reminders",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "is_completed",
              "condition": "is",
              "keyValue": "false"
            },
            {
              "keyName": "has_due_date",
              "condition": "is",
              "keyValue": "true"
            },
            {
              "keyName": "source",
              "condition": "eq",
              "keyValue": "ios-notes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        544
      ],
      "id": "9ad59b06-dfe6-4ef3-969f-0b4be1583b58",
      "name": "Get Notes Reminders with Due Dates",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "userKey": "=s649csud5ik5kvhha7d929ynazwbmu",
        "message": "={{ $json.message }}",
        "priority": 0,
        "additionalFields": {
          "device": "iphone-cem",
          "html": true
        }
      },
      "id": "6e83cc13-fc2c-4b1b-825a-3b679de06f0e",
      "name": "Push a message",
      "type": "n8n-nodes-base.pushover",
      "position": [
        2032,
        528
      ],
      "typeVersion": 1,
      "credentials": {
        "pushoverApi": {
          "id": "uWTk9dlnh5qmgFR6",
          "name": "Pushover account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Set Workflow vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Workflow vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Overdue Items": {
      "main": [
        [
          {
            "node": "Merge groups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Overdue Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Upcoming Items": {
      "main": [
        [
          {
            "node": "Merge groups",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Upcoming Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Overdue Note": {
      "main": [
        [
          {
            "node": "Loop Over Overdue Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upcoming Note": {
      "main": [
        [
          {
            "node": "Loop Over Upcoming Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge groups": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Push a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Reminder Info": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by closest deadline": {
      "main": [
        [
          {
            "node": "If deadline is overdue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If deadline is overdue": {
      "main": [
        [
          {
            "node": "Loop Over Overdue Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Upcoming Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Workflow vars": {
      "main": [
        [
          {
            "node": "Get Notes Reminders with Due Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notes Reminders with Due Dates": {
      "main": [
        [
          {
            "node": "Sort by closest deadline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push a message": {
      "main": [
        [
          {
            "node": "Update Reminder Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "07faeeac-e9b6-4937-811a-1ebbeeadd76a",
  "activeVersionId": "07faeeac-e9b6-4937-811a-1ebbeeadd76a",
  "versionCounter": 24,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-07-04T18:36:29.548Z",
      "createdAt": "2025-07-04T18:36:29.548Z",
      "role": "workflow:owner",
      "workflowId": "AE3U3r9fykwrxggj",
      "projectId": "LgilvFgQb45ZsfNg",
      "project": {
        "updatedAt": "2025-05-27T00:18:21.560Z",
        "createdAt": "2025-05-27T00:15:31.394Z",
        "id": "LgilvFgQb45ZsfNg",
        "name": "Cem Kaspi <cem.kaspi97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "371c9bf2-47e1-438e-a4fd-72dda9044ce2"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}