src/prod/Prod - Supabase to Google Calendar Sync.json
{
  "updatedAt": "2025-12-01T07:00:10.000Z",
  "createdAt": "2025-12-01T06:53:19.726Z",
  "id": "oUOAOKJgRgxrqpJp",
  "name": "Prod - Supabase to Google Calendar Sync",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "44816a40-4ea1-4584-bacf-51a5dfc735cc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        896,
        -160
      ],
      "id": "4084e513-bfe2-4c5e-9daf-1c464288be4a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc0394ee-654f-4542-94cd-e01b8f426868",
              "leftValue": "={{$json.isNotEmpty()}}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        -160
      ],
      "id": "088502e7-055d-4efe-84f6-a27f801ef5cd",
      "name": "Events Exist?"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "events",
        "filters": {
          "conditions": [
            {
              "keyName": "sync_status",
              "keyValue": "pending"
            },
            {
              "keyName": "sync_source",
              "keyValue": "=web"
            },
            {
              "keyName": "deleted",
              "keyValue": "false"
            },
            {
              "keyName": "sync_attempts",
              "keyValue": "=0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        -448
      ],
      "id": "d80d2de9-2a08-478f-8b25-0e88a398c822",
      "name": "Get Pending Events",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c94ed97b-8ff6-4f25-8d67-133f74c74cd6",
              "leftValue": "={{$json.google_event_id}}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "9642e30e-efd0-4288-abed-6ded234fab23",
              "leftValue": "={{$json.google_event_id}}",
              "rightValue": "={{ '' }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        -144
      ],
      "id": "e4ea2be6-5075-41a0-9738-828e28009aaf",
      "name": "Has Google Event ID?"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "cem.kaspi7@gmail.com",
          "mode": "list",
          "cachedResultName": "cem.kaspi7@gmail.com"
        },
        "eventId": "={{$node[\"Loop Over Items\"].json.google_event_id}}",
        "updateFields": {
          "allday": "={{$node[\"Loop Over Items\"].json.all_day}}",
          "description": "={{$node[\"Loop Over Items\"].json.description}}",
          "end": "={{$node[\"Loop Over Items\"].json.end_datetime}}",
          "location": "={{$node[\"Loop Over Items\"].json.location}}",
          "start": "={{$node[\"Loop Over Items\"].json.event_datetime}}",
          "summary": "={{$node[\"Loop Over Items\"].json.title}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1344,
        -288
      ],
      "id": "a4bce397-af7b-4b55-9e9a-6cb52b6d2765",
      "name": "Update Event",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BCLxbF088CScvr1Q",
          "name": "cem.kaspi7@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "cem.kaspi7@gmail.com",
          "mode": "list",
          "cachedResultName": "cem.kaspi7@gmail.com"
        },
        "start": "={{$node[\"Loop Over Items\"].json.event_datetime}}",
        "end": "={{$node[\"Loop Over Items\"].json.end_datetime}}",
        "additionalFields": {
          "allday": "={{$node[\"Loop Over Items\"].json.all_day}}",
          "description": "={{$node[\"Loop Over Items\"].json.description}}",
          "location": "={{$node[\"Loop Over Items\"].json.location}}",
          "summary": "={{$node[\"Loop Over Items\"].json.title}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1344,
        -128
      ],
      "id": "913ab354-0a18-4dd0-ba16-7bcef3350807",
      "name": "Create Event",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BCLxbF088CScvr1Q",
          "name": "cem.kaspi7@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1568,
        -144
      ],
      "id": "2d570498-c642-44bb-afb2-e69017cddd52",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const supabaseEvent = $node[\"Loop Over Items\"].json;\nconst googleResponse = $input.first().json;\n\n// Check if Google operation succeeded\nconst succeeded = googleResponse && googleResponse.id;\n\nreturn [{\n  json: {\n    supabase_id: supabaseEvent.id,\n    google_calendar_id: succeeded ? (googleResponse.organizer?.email || 'primary') : supabaseEvent.google_calendar_id,\n    google_event_id: succeeded ? googleResponse.id : supabaseEvent.google_event_id,\n    google_etag: succeeded ? googleResponse.etag : supabaseEvent.google_etag,\n    remote_modified_at: succeeded ? googleResponse.updated : supabaseEvent.remote_modified_at,\n    sync_status: succeeded ? 'synced' : 'error',\n    last_synced_at: succeeded ? new Date().toISOString() : supabaseEvent.last_synced_at,\n    sync_attempts: supabaseEvent.sync_attempts + 1,\n    sync_error: succeeded ? null : 'Google Calendar API error',\n    is_conflict: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -144
      ],
      "id": "5f3e4e25-2609-4aed-b30f-577cd992c927",
      "name": "Prepare Supabase Update"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "events",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{$json.supabase_id}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "google_calendar_id",
              "fieldValue": "={{$json.google_calendar_id}}"
            },
            {
              "fieldId": "google_event_id",
              "fieldValue": "={{$json.google_event_id}}"
            },
            {
              "fieldId": "google_etag",
              "fieldValue": "={{$json.google_etag}}"
            },
            {
              "fieldId": "remote_modified_at",
              "fieldValue": "={{$json.remote_modified_at}}"
            },
            {
              "fieldId": "sync_status",
              "fieldValue": "={{$json.sync_status}}"
            },
            {
              "fieldId": "last_synced_at",
              "fieldValue": "={{$json.last_synced_at}}"
            },
            {
              "fieldId": "sync_attempts",
              "fieldValue": "={{$json.sync_attempts}}"
            },
            {
              "fieldId": "sync_error",
              "fieldValue": "={{$json.sync_error}}"
            },
            {
              "fieldId": "is_conflict",
              "fieldValue": "={{$json.is_conflict}}"
            },
            {
              "fieldId": "local_modified_at",
              "fieldValue": "={{$now}}"
            },
            {
              "fieldId": "sync_status",
              "fieldValue": "={{ $json.sync_status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2016,
        -144
      ],
      "id": "77e23cda-b9c9-416f-a6b2-aa74daeed405",
      "name": "Update Sync Status",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "events",
        "filters": {
          "conditions": [
            {
              "keyName": "sync_status",
              "keyValue": "pending"
            },
            {
              "keyName": "sync_source",
              "keyValue": "=web"
            },
            {
              "keyName": "deleted",
              "keyValue": "false"
            },
            {
              "keyName": "sync_attempts",
              "keyValue": "=1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        -256
      ],
      "id": "1ea81276-3af3-499b-9277-a379db791eb4",
      "name": "Get Pending Events1",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "events",
        "filters": {
          "conditions": [
            {
              "keyName": "sync_status",
              "keyValue": "pending"
            },
            {
              "keyName": "sync_source",
              "keyValue": "=ios"
            },
            {
              "keyName": "deleted",
              "keyValue": "false"
            },
            {
              "keyName": "sync_attempts",
              "keyValue": "=0"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        -64
      ],
      "id": "b1514645-c5ac-4199-a40d-ad8a96e2bc76",
      "name": "Get Pending Events2",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "events",
        "filters": {
          "conditions": [
            {
              "keyName": "sync_status",
              "keyValue": "pending"
            },
            {
              "keyName": "sync_source",
              "keyValue": "=ios"
            },
            {
              "keyName": "deleted",
              "keyValue": "false"
            },
            {
              "keyName": "sync_attempts",
              "keyValue": "=1"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        224,
        128
      ],
      "id": "75dba980-4c3c-4458-88df-2ad3ac569e8b",
      "name": "Get Pending Events3",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -192
      ],
      "id": "df3072f7-116a-48ab-bafd-9e960aabe648",
      "name": "Merge1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pending Events1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pending Events2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pending Events3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Has Google Event ID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Events Exist?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Events": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Google Event ID?": {
      "main": [
        [
          {
            "node": "Update Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prepare Supabase Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Supabase Update": {
      "main": [
        [
          {
            "node": "Update Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sync Status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Events1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Pending Events2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Pending Events3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Events Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ae47d463-fa19-45dd-90c3-97b1015e1772",
  "activeVersionId": null,
  "versionCounter": 51,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-07-28T16:51:48.892Z",
      "createdAt": "2025-07-28T16:51:48.892Z",
      "id": "6d22SbkvGEnpRv79",
      "name": "prod"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-12-01T06:53:19.730Z",
      "createdAt": "2025-12-01T06:53:19.730Z",
      "role": "workflow:owner",
      "workflowId": "oUOAOKJgRgxrqpJp",
      "projectId": "LgilvFgQb45ZsfNg",
      "project": {
        "updatedAt": "2025-05-27T00:18:21.560Z",
        "createdAt": "2025-05-27T00:15:31.394Z",
        "id": "LgilvFgQb45ZsfNg",
        "name": "Cem Kaspi <cem.kaspi97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "371c9bf2-47e1-438e-a4fd-72dda9044ce2"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}