src/prod/Prod - Supabase Storage Receipt File Upload.json
{
  "updatedAt": "2025-12-01T06:50:43.000Z",
  "createdAt": "2025-06-12T06:53:12.752Z",
  "id": "Im1b5tF7kRCgFCwe",
  "name": "Prod - Supabase Storage Receipt File Upload",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        384
      ],
      "id": "a9536da8-b319-4885-92b9-c7366666f328",
      "name": "Wait",
      "webhookId": "b41f58e0-5806-4403-bbdc-7a0f2ddd60c2"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -32,
        400
      ],
      "id": "4c2534dd-fb96-4e1e-9c6e-c2e322b11e53",
      "name": "When Executed by Another Workflow",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.to.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        400
      ],
      "id": "ca86f12a-10c3-405d-9f5a-c5fc4013b242",
      "name": "Get User ID",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nfor (const item of $('When Executed by Another Workflow').all()) {\n  for (const [key, value] of Object.entries(item.binary || {})) {\n    // Get original extension if available, fallback to mime type-derived\n    const originalName = value.fileName || 'unknown';\n    const extension = originalName.includes('.')\n      ? originalName.split('.').pop()\n      : (value.mimeType?.split('/')[1] || 'bin');\n    const fileName = originalName.includes('.')\n      ? originalName\n      : `unknown.${extension}`;\n\n    output.push({\n      binary: {\n        data: value\n      },\n      json: {\n        originalKey: key,\n        fileName: fileName,\n        mimeType: value.mimeType || 'unknown'\n      }\n    });\n  }\n}\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ],
      "id": "85be9bca-19fa-4200-be4a-b2d7aa13964e",
      "name": "Separate Attachments"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8e01eafc-0ef7-4845-bc9d-4cc201c55f79"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c6495fbc-5b41-4cdb-a847-e0c4f577f3ec",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        400
      ],
      "id": "7d750e96-be22-4152-b9f6-92eb16bd02b0",
      "name": "PDF?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        384
      ],
      "id": "5301d8c0-18e5-40ed-9e40-ab9be7962666",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const binaryKeys = Object.keys(item.binary || {});\n  const binaryKey = binaryKeys[0];\n  const fileName = item.binary && item.binary[binaryKey] && item.binary[binaryKey].fileName\n    ? item.binary[binaryKey].fileName\n    : 'Uploaded_File.bin';\n  item.json = {};\n  item.json.binaryFieldName = binaryKey;\n  item.json.fileName = fileName;\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        384
      ],
      "id": "cc7b12ac-d53e-4692-99b7-4392558e76b9",
      "name": "Prep Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cribvrunrkbrakpqmzbj.supabase.co/storage/v1/object/receipts/{{ $('Get User ID').item.json.id }}/{{ $json.fileName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNyaWJ2cnVucmticmFrcHFtemJqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjUxNTE5NywiZXhwIjoyMDYyMDkxMTk3fQ.MzF4RC39KNKcArjOl01XH6BGbFtSawI7mjQGTEAXDQ4"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNyaWJ2cnVucmticmFrcHFtemJqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NjUxNTE5NywiZXhwIjoyMDYyMDkxMTk3fQ.MzF4RC39KNKcArjOl01XH6BGbFtSawI7mjQGTEAXDQ4"
            },
            {
              "name": "Cache-Control",
              "value": "3600"
            },
            {
              "name": "x-upsert",
              "value": "false"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $json.binaryFieldName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        384
      ],
      "id": "b2f32c65-c294-4b44-92fe-c685d4fe49cc",
      "name": "Supabase Storage API Call",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "receipts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "file_name",
              "fieldValue": "={{ $('Wait').item.json.fileName }}"
            },
            {
              "fieldId": "mime_type",
              "fieldValue": "={{ $('Wait').item.json.mimeType }}"
            },
            {
              "fieldId": "=storage_path",
              "fieldValue": "={{ $json.Key }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('Get User ID').item.json.id }}"
            },
            {
              "fieldId": "vendor",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.choices[0].message.content.vendor }}"
            },
            {
              "fieldId": "total_amount",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.choices[0].message.content.total_amount }}"
            },
            {
              "fieldId": "received_date",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.choices[0].message.content.received_date }}"
            },
            {
              "fieldId": "expense_date",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.choices[0].message.content.expense_date }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.choices[0].message.content.category }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.choices[0].message.content.details }}"
            },
            {
              "fieldId": "document_url",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.choices[0].message.content.document_url }}"
            },
            {
              "fieldId": "email_id",
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.choices[0].message.content.email_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1824,
        384
      ],
      "id": "feb2043d-2c5e-470a-ac44-e8bde6f2b2a3",
      "name": "Add to Receipts",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8c0b5cc-0b71-45d1-8791-852f62fb1ee0",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1632,
        384
      ],
      "id": "1c544e1f-ca5e-4226-9d3d-3da7a697c866",
      "name": "If Error?"
    }
  ],
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Prep Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get User ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User ID": {
      "main": [
        [
          {
            "node": "Separate Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate Attachments": {
      "main": [
        [
          {
            "node": "PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Data": {
      "main": [
        [
          {
            "node": "Supabase Storage API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Storage API Call": {
      "main": [
        [
          {
            "node": "If Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Receipts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Error?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add to Receipts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8f3bd9f2-a3ca-4424-8eab-de3f5af819eb",
  "activeVersionId": "8f3bd9f2-a3ca-4424-8eab-de3f5af819eb",
  "versionCounter": 5,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-06-12T06:53:12.756Z",
      "createdAt": "2025-06-12T06:53:12.756Z",
      "role": "workflow:owner",
      "workflowId": "Im1b5tF7kRCgFCwe",
      "projectId": "LgilvFgQb45ZsfNg",
      "project": {
        "updatedAt": "2025-05-27T00:18:21.560Z",
        "createdAt": "2025-05-27T00:15:31.394Z",
        "id": "LgilvFgQb45ZsfNg",
        "name": "Cem Kaspi <cem.kaspi97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "371c9bf2-47e1-438e-a4fd-72dda9044ce2"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}