src/prod/Prod - Handle Event Deletions.json
{
  "updatedAt": "2025-12-01T07:00:09.000Z",
  "createdAt": "2025-12-01T06:53:45.356Z",
  "id": "8PGLENRfeAaX8Pur",
  "name": "Prod - Handle Event Deletions",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9bb45a3c-46df-40cf-a5d4-4478c38e5da7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "events",
        "filters": {
          "conditions": [
            {
              "keyName": "deleted",
              "keyValue": "true"
            },
            {
              "keyName": "sync_status",
              "keyValue": "pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "e64af834-0430-4c70-b70f-7d6c3a7f78e6",
      "name": "Get Pending Deletions",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        -16
      ],
      "id": "ac5a1edf-6ac2-4709-93f0-c3ab3a388a87",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "cem.kaspi7@gmail.com",
          "mode": "list",
          "cachedResultName": "cem.kaspi7@gmail.com"
        },
        "eventId": "={{$json.google_event_id}}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        944,
        0
      ],
      "id": "c9119448-9578-45e9-abb5-442ef6075be3",
      "name": "Delete Event",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BCLxbF088CScvr1Q",
          "name": "cem.kaspi7@gmail.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "events",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{$node[\"Loop Over Items\"].json.id}}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "deletion_synced_at",
              "fieldValue": "={{$now}}"
            },
            {
              "fieldId": "sync_status",
              "fieldValue": "synced"
            },
            {
              "fieldId": "last_synced_at",
              "fieldValue": "={{$now}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        -16
      ],
      "id": "842724c8-5a8d-4718-8e82-e314020897f0",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "eFDq1jTa6XhpCbtl",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "491cc2e0-df53-4597-a0cc-75e13da8a660",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        0
      ],
      "id": "31ecc313-a41c-4a69-a01c-6d7b4e62996b",
      "name": "Success?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f0953fa4-3715-42cc-9bf0-2e9a85ae3ee8",
              "leftValue": "={{$json.isNotEmpty()}}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "a7da9d55-6c78-42c2-987c-1645a819f6dd",
      "name": "Not Empty?"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Deletions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Deletions": {
      "main": [
        [
          {
            "node": "Not Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Delete Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Not Empty?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bdebf11d-f650-409f-92d6-46aafd183644",
  "activeVersionId": null,
  "versionCounter": 22,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-07-28T16:51:48.892Z",
      "createdAt": "2025-07-28T16:51:48.892Z",
      "id": "6d22SbkvGEnpRv79",
      "name": "prod"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-12-01T06:53:45.361Z",
      "createdAt": "2025-12-01T06:53:45.361Z",
      "role": "workflow:owner",
      "workflowId": "8PGLENRfeAaX8Pur",
      "projectId": "LgilvFgQb45ZsfNg",
      "project": {
        "updatedAt": "2025-05-27T00:18:21.560Z",
        "createdAt": "2025-05-27T00:15:31.394Z",
        "id": "LgilvFgQb45ZsfNg",
        "name": "Cem Kaspi <cem.kaspi97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "371c9bf2-47e1-438e-a4fd-72dda9044ce2"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}