src/prod/Prod - Inbox Management Agent (historic messages).json
{
  "updatedAt": "2026-01-27T08:17:02.537Z",
  "createdAt": "2025-08-05T06:47:39.146Z",
  "id": "OJ0avNcj6qSzrIWn",
  "name": "Prod - Inbox Management Agent (historic messages)",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "UNREAD"
          ]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "740a9ac5-21b9-45e5-a460-fb7837b8e456",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        -3616,
        1296
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "L6YJsATLPNfrXFwt",
          "name": "cem.kaspi7@gmail.com"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_35"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        112,
        -32
      ],
      "id": "06174875-9d8d-410c-a570-3360c3874665",
      "name": "Invoices & Receipts",
      "webhookId": "f140a200-736c-4663-ac29-cba5b303d8fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_36"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        944
      ],
      "id": "5702fdfb-2e16-48a4-92ad-af1e48961dbc",
      "name": "Rabbinate",
      "webhookId": "2e22ca2c-0fbe-419c-80e0-f86801ec60cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_37"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        464,
        688
      ],
      "id": "202f3002-94d3-495a-853d-2e465b0ebf59",
      "name": "Learning Material",
      "webhookId": "3ef9233b-3670-4ccf-a9c6-e17a8d6468d4",
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        2016
      ],
      "id": "8d1ffd19-843e-4db3-9306-1b3b9fc6284c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "gkxADOkywqNZ2LpA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_30"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        1856
      ],
      "id": "53fa70be-00e6-4823-83ca-6eac83ce6a04",
      "name": "Trips/Flights",
      "webhookId": "e8f22dd4-bff2-48d1-94c3-62f95339303f",
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_31"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        2048
      ],
      "id": "60961bb0-25a1-401b-9642-10e65d1b9967",
      "name": "Trips/Hotels",
      "webhookId": "7dec3bda-e0d1-49e5-a349-f455d1941718",
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_32"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        2256
      ],
      "id": "a706d15d-cb34-464f-9d9e-7c85c785291b",
      "name": "Trips/Car Rentals",
      "webhookId": "27cd2297-eed4-4142-a94f-2814e08d034b",
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_33"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        2448
      ],
      "id": "af382f3a-203b-4907-9846-953093553b6f",
      "name": "Trips/Travel Insurance",
      "webhookId": "a036b925-4266-4221-9981-a4613cb90b8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_34"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        2672
      ],
      "id": "cabea694-b45a-47cb-95af-facd4f22e438",
      "name": "Trips/Other",
      "webhookId": "a8c55bf6-804c-42e3-bd5f-f8f2e23a8bdc",
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.subject }}\nContent: {{ $json.text }}\n**Attachment Data**\n{{ $json.attachmentText.map((text, i) => `*Attachment ${i}:* \\n${text.substring(0,3000)}\\n`).join('\\n') }}\n",
        "categories": {
          "categories": [
            {
              "category": "Flights",
              "description": " Emails related to flight bookings, flight cancellations, updates, or confirmations."
            },
            {
              "category": "Hotels",
              "description": "Emails about hotel, Airbnb or any type of accommodation bookings, confirmations, cancellations, or other related communications."
            },
            {
              "category": "Car Rentals",
              "description": "Emails concerning car rental bookings, pickup and drop-off details, or car rental confirmations."
            },
            {
              "category": "Travel Insurance",
              "description": "Emails regarding travel insurance bookings, policies, updates, and claims."
            },
            {
              "category": "Other",
              "description": "Emails that relate to travel but don't fall into the other specific categories, such as tour bookings, visa confirmations or travel-related advice."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}. The content may be in English, Hebrew, or Turkish. Understand the meaning regardless of language and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        112,
        1776
      ],
      "id": "cc727d94-e9ed-4d37-aa35-b1e7fab3145d",
      "name": "Trips Subcategory Classifier"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a travel information extraction expert. Your task is to analyze an email about travel (e.g., hotel, car rental, travel insurance) and extract the following information in a structured JSON format:\n\nExtract and return the following fields:\n\n- destination: string — the city and country this travel item relates to (e.g., \"Paris, France\").\n- start_date: string (YYYY-MM-DD) — the earliest relevant date (e.g., departure, check-in, pickup).\n- end_date: string (YYYY-MM-DD) — the latest relevant date (e.g., return, check-out, drop-off).\n- type: string — type of travel info as one of the following: \"hotel\", \"car\", \"travel insurance\", or \"other\".\n- details: string — brief summary of key information (e.g., \"Car rental from Hertz in Istanbul, Turkey\").\n- confidence_score: number — a value from 0 to 1 indicating your confidence in the extracted information.\n- status: string — the completion status of the trip item if determinable, one of: \"incomplete\", \"booked\", \"pending\", \"rescheduled\",  \"canceled\", or \"not needed\" (if indeterminable default to \"incomplete\").\n- document_url: string — any confirmation, ticket, or receipt URL if found (else leave blank).\n- email_id: string — a unique identifier for the email where this information was found (you may receive this as input).\n- user_id: string — the user this email belongs to (you may receive this as input).\n\nReturn the extracted fields in the following JSON format:\n\n{\n  \"destination\": \"City, Country\",\n  \"start_date\": \"YYYY-MM-DD\",\n  \"end_date\": \"YYYY-MM-DD\",\n  \"type\": \"hotel\" | \"car\" | \"travel insurance\" | \"other\",\n  \"details\": \"short summary\",\n  \"confidence_score\": 0.95,\n  \"status\": \"incomplete\",\n  \"document_url\": \"\",\n  \"email_id\": \"CAA5qxOaHtcTqmhmg-wLi+q6PSkHHJi6PLg3mjZHpUpyNtJ612A@mail.gmail.com\",\n  \"user_id\": \"abc@example.com\"\n}\n",
              "role": "system"
            },
            {
              "content": "=Here is the subject and context from the email:\n***\n- Subject: {{ $json.subject }}\n\n- Email Id: {{ $json.messageId }}\n\n- User Id: {{ $json.to.value[0].address }}\n\n- Context: {{ $json.text }}\n\n- Attachment Data:\n{{ $json.attachmentText.map((text, i) => `*Attachment ${i}:* \\n${text.substring(0,3000)}\\n`).join('\\n') }}\n***\n\nCan you extract the info in json as you were instructed. In addition, for clarity the passenger lives in Israel, so the destination can never be Israel for their tip. DO NOT make up any information that you have not extracted from the email. If you cannot find the relevant info for a json field, populate it as null."
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        624,
        1616
      ],
      "id": "2a261b3a-e9e4-4d0f-bba5-0f0c7015e96a",
      "name": "Extract Non-Flight Trip Info",
      "credentials": {
        "openAiApi": {
          "id": "gkxADOkywqNZ2LpA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a travel information extraction expert. Your task is to analyze an email about travel (e.g., flight, hotel, car rental, travel insurance) and extract the following information in a structured JSON format:\n\nExtract and return the following fields:\n\n- destination: string — the city and country this travel item relates to (e.g., \"Paris, France\").\n- start_date: string (YYYY-MM-DD) — the earliest relevant date (e.g., departure, check-in, pickup).\n- end_date: string (YYYY-MM-DD) — the latest relevant date (e.g., return, check-out, drop-off).\n- type: string — type of travel info as one of the following: \"flight\", \"hotel\", \"car\", \"travel insurance\", or \"other\".\n- details: string — brief summary of key information (e.g., \"Round-trip flight from Toronto to Paris on Air Canada\").\n- confidence_score: number — a value from 0 to 1 indicating your confidence in the extracted information.\n- status: string — the completion status of the trip item if determinable, one of: \n  - \"booked\" (if the booking of the item has been successfully completed),\n  - \"pending\" (if the item is not booked yet and is pending completion),\n  - \"rescheduled\"(if the previously booked item has had new changes made to it such \n    as change of schedule, dates, route, etc.),\n  - \"canceled\" (if the previously booked item has been canceled),\n  - \"not needed\" (if this trip item is not needed, will be a manual option to select \n    for the user in unquie sitations),\n  - \"incomplete\" (default value, if indeterminable default to \"incomplete\"),\n- document_url: string — any confirmation, ticket, or receipt URL if found (else leave blank).\n- email_id: string — a unique identifier for the email where this information was found (you may receive this as input).\n- user_id: string — the user this email belongs to (you may receive this as input).\n\nReturn the extracted fields in the following JSON format:\n\n{\n  \"destination\": \"City, Country\",\n  \"start_date\": \"YYYY-MM-DD\",\n  \"end_date\": \"YYYY-MM-DD\",\n  \"type\": \"flight\" | \"hotel\" | \"car\" | \"travel insurance\" | \"other\",\n  \"details\": \"short summary\",\n  \"confidence_score\": 0.95,\n  \"status\": \"incomplete\",\n  \"document_url\": \"\",\n  \"email_id\": \"CAA5qxOaHtcTqmhmg-wLi+q6PSkHHJi6PLg3mjZHpUpyNtJ612A@mail.gmail.com\",\n  \"user_id\": \"abc@example.com\"\n}\n",
              "role": "system"
            },
            {
              "content": "=Here is the subject and context from the email:\n***\n- Subject: {{ $json.subject }}\n\n- Email Id: {{ $json.messageId }}\n\n- User Id: {{ $json.to.value[0].address }}\n\n- Context: {{ $json.text }}\n\n- Attachment Data:\n{{ $json.attachmentText.map((text, i) => `*Attachment ${i}:* \\n${text.substring(0,3000)}\\n`).join('\\n') }}\n***\n\nExtract the info in json as you were instructed.\n\nCRITICAL: When extracting flight destinations, identify the FINAL destination, not layover cities.\n\nMulti-leg flight example:\n- Leg 1: City A → City B (layover, < 24 hours)\n- Leg 2: City B → City C (final destination)\n→ Extract destination as \"City C\"\n\nFor round-trips, extract the destination you're VISITING, not returning to.\n\nIn addition, for clarity the passenger lives in Israel, so the destination can never be Israel for their tip. DO NOT make up any information that you have not extracted from the email. If you cannot find the relevant info for a json field, populate it as null. \n"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        624,
        1376
      ],
      "id": "4e8a15f1-0aa9-42c7-8136-9efae2f92dc4",
      "name": "Extract Flight Trip Info",
      "credentials": {
        "openAiApi": {
          "id": "gkxADOkywqNZ2LpA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1312,
        1344
      ],
      "id": "b0ed648a-15f9-48fc-834e-5a9ac909565c",
      "name": "Merge"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "irpWxDWEuPptk4aq",
          "mode": "list",
          "cachedResultUrl": "/workflow/irpWxDWEuPptk4aq",
          "cachedResultName": "Prod - Trip Inference Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "confidence_score": "={{ $json.choices[0].message.content.confidence_score }}",
            "destination": "={{ $json.choices[0].message.content.destination }}",
            "start_date": "={{ $json.choices[0].message.content.start_date }}",
            "end_date": "={{ $json.choices[0].message.content.end_date }}",
            "type": "={{ $json.choices[0].message.content.type }}",
            "details": "={{ $json.choices[0].message.content.details }}",
            "status": "={{ $json.choices[0].message.content.status }}",
            "document_url": "={{ $json.choices[0].message.content.document_url }}",
            "email_id": "={{ $json.choices[0].message.content.email_id }}",
            "user_id": "={{ $json.choices[0].message.content.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "destination",
              "displayName": "destination",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "document_url",
              "displayName": "document_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "email_id",
              "displayName": "email_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1072,
        1488
      ],
      "id": "28aab4f2-bf40-415a-b40b-b164d4a14b10",
      "name": "Execute Trip Inference",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ceQVZ5syel6bFf3U",
          "mode": "list",
          "cachedResultUrl": "/workflow/ceQVZ5syel6bFf3U",
          "cachedResultName": "Prod - Supabase Storage Trip File Upload"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1760,
        1344
      ],
      "id": "cf5f28be-0dbd-458e-acef-ae9c336fd140",
      "name": "Execute File Upload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4b56b8c7-2311-4c77-82e7-67b5d57152b3",
              "leftValue": "={{ $('Email Category Classifier').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6cc31e9c-79a3-4be8-83d4-3383f19524fd",
              "leftValue": "={{ $('Email Category Classifier').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1536,
        1344
      ],
      "id": "15266a44-9ff0-47c3-bc9b-3e8f2a63c894",
      "name": "File Data?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a receipt and invoice information extraction expert. Your task is to analyze an email containing a receipt or invoice and extract the following information in a structured JSON format.\n\nExtract and return the following fields:\n\n- message_id: string - a unique alphanumerical message id from this receipt's source (you may receive this as input). \n- vendor: string — the company or individual associated with the receipt (e.g., \"Amazon\", \"Home Depot\", \"Rabbi Moshe Cohen\").\n- total_amount: string — the total amount paid. Always format with the currency symbol **before** the number, regardless of local style (e.g., \"$75.99\", \"€120.00\", \"₪250\").\n- received_date: string (YYYY-MM-DD) — the date the receipt or invoice was received (e.g., the email's received date).\n- expense_date: string (YYYY-MM-DD) — the actual date the expense or transaction occurred. If unclear, use the received_date.\n- category: string — categorize the receipt into one of the following (if determinable):\n  - \"home\"\n  - \"office\"\n  - \"donation\"\n  - \"utilities\"\n  - \"education\"\n  - \"medical\"\n  - \"other\"\n\n- details: string — brief summary of what the receipt is for (e.g., \"Office supplies from Staples\", \"Monthly donation to Yeshiva Ateret\").\n- confidence_score: number — a value between 0 and 1 indicating your confidence in the accuracy of the extracted data.\n- document_url: string — a link to any attached invoice or receipt file if available, else leave blank.\n- email_id: string — a unique identifier for the email this receipt came from (you may receive this as input).\n- user_id: string — the user this email belongs to (you may receive this as input).\n\nReturn the extracted information in the following JSON format:\n\n{\n  \"message_id\": \"196ae2687b572c1e\",\n  \"vendor\": \"Amazon\",\n  \"total_amount\": \"$75.99\",\n  \"received_date\": \"2025-06-10\",\n  \"expense_date\": \"2025-06-09\",\n  \"category\": \"home\",\n  \"details\": \"Home supplies from Amazon\",\n  \"confidence_score\": 0.92,\n  \"document_url\": \"\",\n  \"email_id\": \"CAA5qxOaHtcTqmhmg-wLi+q6PSkHHJi6PLg3mjZHpUpyNtJ612A@mail.gmail.com\",\n  \"user_id\": \"abc@example.com\"\n}\n",
              "role": "system"
            },
            {
              "content": "=Here is the subject and context from the email:\n***\n- Message Id: {{ $json.message_id }}\n- Email Id: {{ $json.messageId }}\n- User Id: {{ $json.to.value[0].address }}\n- Date Email Received: {{ $json.headers.date }}\n- Subject: {{ $json.subject }}\n- Context: {{ $json.text }}\n- Attachment Data:\n{{ $json.attachmentText.map((text, i) => `*Attachment ${i}:* \\n${text}\\n`).join('\\n') }}\n\n***\n\nExtract the info in json as you were instructed. DO NOT make up any information that you have not extracted from the email. If you cannot find the relevant info for a json field:\n\n- For text fields (vendor, total_amount, etc.): use \"unknown\"\n- For date fields (received_date, expense_date): use null (not \"unknown\")\n"
            }
          ]
        },
        "simplify": false,
        "jsonOutput": true,
        "options": {
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        304,
        160
      ],
      "id": "20328c96-0975-4699-91d9-b1ddf33e6b23",
      "name": "Extract Receipt Info",
      "credentials": {
        "openAiApi": {
          "id": "gkxADOkywqNZ2LpA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "choices[0].message.content.message_id"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        624,
        304
      ],
      "id": "ac938106-4b43-4dfc-a2f5-4d37d8fac961",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "## Trip Items Logic\n",
        "height": 1660,
        "width": 2040,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        1184
      ],
      "typeVersion": 1,
      "id": "a085f65a-ccd4-4876-b221-1bd02de27f4b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Receipts",
        "height": 660,
        "width": 972
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -144
      ],
      "typeVersion": 1,
      "id": "83ae7414-df0f-46e0-8e2b-8bc4414209b4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "simple": false,
        "filters": {
          "readStatus": "both",
          "receivedAfter": "2025-09-27T00:00:00",
          "receivedBefore": "2025-10-11T00:00:00"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3456,
        912
      ],
      "id": "d5ecd767-1cbb-4bed-9cf3-4b8b6bab36c2",
      "name": "Get many messages",
      "webhookId": "2e9c8cce-c511-44aa-8afb-91300e6b093d",
      "notesInFlow": false,
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3680,
        912
      ],
      "id": "db232955-455b-4709-ac3f-819242bae9c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Get many messages').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2720,
        1328
      ],
      "id": "5a183076-90bc-4ce5-ab16-84cb72527e72",
      "name": "Get a message",
      "webhookId": "4b7e2690-9b26-47d6-96ac-bea0acc829e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "jk4uStea08hqnCuZ",
          "name": "avimor29@gmail.com"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0a9aaf0-d516-4d92-a172-f63e48241f7e",
              "name": "attachments",
              "value": "={{ $('If1').item.binary?.keys() }}",
              "type": "array"
            },
            {
              "id": "5bd695ba-134c-4df3-a154-5f3030f73745",
              "name": "message_id",
              "value": "={{ $('If1').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2736,
        336
      ],
      "id": "134813dd-743e-452d-9d06-d02e5556fde7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2512,
        336
      ],
      "id": "7328a606-80c7-40d6-b259-cd6b2d93e233",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments_metadata",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2512,
        528
      ],
      "id": "63a92ab6-4cf3-428b-a840-b8b1ff014b47",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c0a9aaf0-d516-4d92-a172-f63e48241f7e",
              "name": "attachments_metadata",
              "value": "={{ $('If1').item.binary?.values() }}",
              "type": "array"
            },
            {
              "id": "5bd695ba-134c-4df3-a154-5f3030f73745",
              "name": "message_id",
              "value": "={{ $('If1').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2736,
        528
      ],
      "id": "c0deb997-a077-4fc0-af64-c2c7c9b4fcc6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2288,
        432
      ],
      "id": "e06132be-7e9d-40e2-8ec7-7a39fcaadccd",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c614bc9-695d-4c12-9fb7-802c5f775168",
              "leftValue": "={{ $json.attachments_metadata.fileType }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2064,
        432
      ],
      "id": "f2f26871-1eba-4ffa-bfff-aa71dc2e7e21",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1808,
        560
      ],
      "id": "3b74f419-ee79-4d6c-b523-394b9f879a10",
      "name": "Merge4"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json.attachments }}",
        "options": {
          "keepSource": "both"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1568,
        624
      ],
      "id": "3a3f5460-b24d-459f-9a25-873afc918f29",
      "name": "Extract from File1",
      "notesInFlow": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -848,
        896
      ],
      "id": "5ffb3497-7f0b-4c56-9ca4-162d53b3e145",
      "name": "Merge5"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "message_id",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1008,
        464
      ],
      "id": "76bd6705-1db0-46da-b43b-7722e03cd986",
      "name": "Merge6"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "message_id",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1568,
        448
      ],
      "id": "f905210e-8a09-4533-b38b-4eb1eb9199c1",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54c7ce69-3e3e-45c5-87d0-f5ca159ae6fc",
              "leftValue": "={{ $('Get many messages').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3248,
        912
      ],
      "id": "2a291852-0cae-466d-bc0b-31f8f8c3ba5f",
      "name": "If1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        1088
      ],
      "id": "ac5ac504-3b96-4f7d-9a8f-cd049e046def",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "gkxADOkywqNZ2LpA",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Categorize this email:\n\n***\n**From:** {{ $json.from.value[0].address }}\n**Subject:** {{ $json.subject }}\n**Content:** \n{{ $json.text }}\n\n**Attachment Data**\n{{ $json.attachmentText.map((text, i) => `*Attachment ${i}:* \\n${text}\\n`).join('\\n') }}\n***\n\nPlease analyze this email and determine the appropriate category using the available data given to you.",
        "categories": {
          "categories": [
            {
              "category": "Invoices & Receipts",
              "description": "Emails containing billing statements, receipts, or invoices NOT related to travel bookings or trip arrangements. These include confirmations for product purchases, service payments, utility bills, subscriptions, consulting fees, or business-related reimbursements. Excludes receipts for flight tickets, hotel reservations, car rentals, travel insurance or any travel related services."
            },
            {
              "category": "Learning Material",
              "description": "Emails related to educational content or materials. This includes lecture notes, Torah portions, study guides, academic research, online course materials, learning resources, and any other content meant for personal or professional development."
            },
            {
              "category": "Rabbinate",
              "description": "Emails from the rabbinate regarding religious duties, events, or responsibilities. This includes correspondence with other clergy, congregational communication, event invitations, or any email connected to religious roles and activities."
            },
            {
              "category": "Trips",
              "description": "This category includes emails related to actual travel plans that involve confirmed or scheduled trips. It covers flight bookings, hotel reservations, car rentals, travel insurance, and any receipts, confirmations, or itineraries tied to a specific trip. Emails may also include travel documents like boarding passes, visas, or permits, as long as they are part of a real, planned journey.\n\nDo not include marketing, promotional, or sales emails—even if they are travel-related. This category excludes newsletters, advertisements, special deals, limited-time offers, or general travel inspiration emails unless they include a confirmed booking or transactional detail."
            }
          ]
        },
        "options": {
          "fallback": "other",
          "systemPromptTemplate": "=You are an email categorization assistant. Your task is to analyze emails and apply appropriate labels to help organize the user's inbox. The content may be in English, Hebrew, or Turkish. Understand the meaning regardless of language and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -608,
        848
      ],
      "id": "d12825bc-53b8-401f-907d-794086b1e918",
      "name": "Email Category Classifier"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        -1312,
        608
      ],
      "id": "ba4d8099-9aa4-41ed-8e88-ce8d47fe2334",
      "name": "Remove Duplicates1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54c7ce69-3e3e-45c5-87d0-f5ca159ae6fc",
              "leftValue": "={{ $('Gmail Trigger').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3392,
        1296
      ],
      "id": "3eafb0b4-beff-47d8-b0bb-01d7db1b6e53",
      "name": "If",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3168,
        1184
      ],
      "id": "dd1ebec0-454b-48d0-951d-74e6140bb442",
      "name": "Get a message1",
      "webhookId": "4b7e2690-9b26-47d6-96ac-bea0acc829e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "L6YJsATLPNfrXFwt",
          "name": "cem.kaspi7@gmail.com"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Group attachment texts by message_id\nconst groupedData = {};\n\nfor (const item of $input.all()) {\n  const messageId = item.json.message_id;\n  const text = item.json.text;\n  \n  if (!groupedData[messageId]) {\n    groupedData[messageId] = {\n      message_id: messageId,\n      attachmentText: []\n    };\n  }\n  \n  groupedData[messageId].attachmentText.push(text);\n}\n\n// Convert to array of items\nreturn Object.values(groupedData).map(data => ({\n  json: data\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        608
      ],
      "id": "a32e552f-d513-4b5a-a707-173cfd11ff8f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "attachment_exists",
              "leftValue": "={{ Object.keys($binary).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        304
      ],
      "id": "8e569c28-d075-4c31-bd4e-04fd29fefd5e",
      "name": "Binary Data?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Im1b5tF7kRCgFCwe",
          "mode": "list",
          "cachedResultUrl": "/workflow/Im1b5tF7kRCgFCwe",
          "cachedResultName": "Prod - Supabase Storage Receipt File Upload"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        800,
        304
      ],
      "id": "7f072fd7-5523-48e5-b2ac-f14202342aa0",
      "name": "Call 'Prod - Supabase Storage Receipt File Upload'"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2944,
        1264
      ],
      "id": "c5b80673-0d25-4728-bfa5-1ca5d003a22e",
      "name": "Loop Over Items",
      "disabled": true
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Trips Subcategory Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trips Subcategory Classifier": {
      "main": [
        [
          {
            "node": "Trips/Flights",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Flight Trip Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trips/Hotels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Non-Flight Trip Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trips/Car Rentals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Non-Flight Trip Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trips/Travel Insurance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Non-Flight Trip Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trips/Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Non-Flight Trip Info": {
      "main": [
        [
          {
            "node": "Execute Trip Inference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Flight Trip Info": {
      "main": [
        [
          {
            "node": "Execute Trip Inference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "File Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Trip Inference": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "File Data?": {
      "main": [
        [
          {
            "node": "Execute File Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Receipt Info": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Call 'Prod - Supabase Storage Receipt File Upload'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Remove Duplicates1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Email Category Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Email Category Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Category Classifier": {
      "main": [
        [
          {
            "node": "Invoices & Receipts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Binary Data?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Learning Material",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rabbinate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trips Subcategory Classifier",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Binary Data?": {
      "main": [
        [
          {
            "node": "Extract Receipt Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": 1753723075,
      "possibleDuplicates": [
        "198520a817c65c4b",
        "19842c5f3f8f54b5"
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "fbb8282c-3e05-4734-bbe7-6936e36c8471",
  "activeVersionId": null,
  "versionCounter": 59,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-07-28T16:51:48.892Z",
      "createdAt": "2025-07-28T16:51:48.892Z",
      "id": "6d22SbkvGEnpRv79",
      "name": "prod"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-08-05T06:47:39.151Z",
      "createdAt": "2025-08-05T06:47:39.151Z",
      "role": "workflow:owner",
      "workflowId": "OJ0avNcj6qSzrIWn",
      "projectId": "LgilvFgQb45ZsfNg",
      "project": {
        "updatedAt": "2025-05-27T00:18:21.560Z",
        "createdAt": "2025-05-27T00:15:31.394Z",
        "id": "LgilvFgQb45ZsfNg",
        "name": "Cem Kaspi <cem.kaspi97@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "371c9bf2-47e1-438e-a4fd-72dda9044ce2"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}